@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../themes/dark' as *;
@use '../themes/default' as *;


.chart-card {

  .balance-box-card{
    @include flex-col;

  .balance {
    font-size:font-size(lg);
    font-weight: font-weight(semibold);
    color: var(--text-secondary);
    margin-bottom:12px;
  }
  }

  .card-subtitlebox-row{
    @include flex-row(space-between,row);
    width: 100%;
  .subtitle {
    font-size: font-size(base);
    color: var(--text-secondary);
    display: inline-block;

    .dropdown {
      font-size: var(--dropdown-font-size, 12px);
      vertical-align: middle;
      margin-left: var(--dropdown-margin-left, 4px);
    }
  }

  .default-changes {
    display: flex;
    align-items: center;
    gap: var(--changes-gap, 16px);
    margin-bottom: var(--changes-margin-bottom, 20px);
    font-size: var(--changes-font-size, 14px);
    font-weight: var(--changes-font-weight, 500);

    .change-item {
    @include flex-center;
      gap: 6px;

      .arrow {
        font-size: font-size(base);
      }

      &.positive{
        .arrow{
        color: var(--color-green);
        }
      }

      &.negative{
        .arrow{
        color: var(--error-color);
        }
      }
    }
  }

  .change {
    display: flex;
    align-items: center;
    gap: var(--change-gap, 4px);
    font-size: var(--change-font-size, 14px);
    margin-bottom: var(--change-margin-bottom, 20px);
    font-weight: var(--change-font-weight, 500);

    .arrow {
      font-size: var(--arrow-font-size, 12px);
      line-height: 1;
    }

    &.positive {
      .arrow{
        color: var(--color-green);
        }
    }

    &.negative {
    .arrow{
        color: var(--error-color);
        }
    }
  }
  }

  .chart-container {
    position: relative;
    @include flex-col(flex-start,center);
    width: 100%;
    height: 100%;
    #chart {
      width: 100%;
      height: 100%;
      display: block;
    }
    .x-axis {
      @include flex-row(center,center,22px);


    span {
      @include flex-center;
    }
  }
  }

  
}


