@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../themes/dark' as *;
@use '../themes/default' as *;



.toggle-switch {
  display: inline-block;
  width: 82.53px;
  height: 40px;
  border-radius: 8px;
  background: var(--bg-default);
  position: relative;
  border:1px solid var(--border);
  cursor: pointer;
  outline: none;
  @include transition;
  overflow: hidden;

  &[aria-checked="true"] {
    background: var(--bg-default);

    .toggle-knob {
      transform: translateX(calc(#{82.53px} - #{40.66px} - #{1px} * 2));
    }
    
    .icon.left-icon  {  color: var(--color-tertiary); }
    .icon.right-icon { color: var(--icon-active); }
  }
  &[aria-checked="false"] {
    background: var(--bg-default);

    .icon.left-icon  {  color: var(--icon-active); }
    .icon.right-icon { color: var(--color-tertiary); }
  }

  .toggle-slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .icon {
    width: 42.26px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 2;
    
    

    &.left-icon  { opacity: 1;color: var(--color-tertiary);}
    &.right-icon { opacity: 1;color: var(--color-tertiary);}

    svg {
      fill: currentColor;
    }
  }

  .toggle-knob {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40.66px;
    height: 40.66px;
    background: var(--bg-default);
    box-shadow: 0 0px 20px var(--bg-secondary);
    @include transition;
    pointer-events: none;
    clip-path: inset(0 -50px 0 0 round 8px);
    box-shadow: 0 0 20px var(--bg-secondary);
    border-radius: 8px;
    border: 1px solid var(--border);
  }
}

@media (prefers-contrast: high) {
  .toggle-switch[aria-checked="true"] {
    background: var(--bg-default);
    .right-icon { color: var(--icon-active) }
  }
}