@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../themes/dark' as *;
@use '../themes/default' as *;

// Wizard component styles
.wizard-container {
    @include flex-center(flex-start, flex-end);
    flex-direction: column;
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;

    .wizard-toggle-button {
        @include flex-center(center, center);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: var(--icon-active);
        border: none;
        cursor: pointer;
        box-shadow: 0 0 2px 0 var(--box-shadow-01), 0 1px 4px 0 var(--box-shadow-01);

        svg {
            color: var(--color-white);
            width: 16px;
        }

        &[aria-expanded="false"] {
            .icon-close {
                display: none;
            }
        }

        &[aria-expanded="true"] {
            .icon-open {
                display: none;
            }
        }
    }

    .wizard-card {
        margin-bottom: 16px;
        width: 463px;
        background-color: var(--bg-dropdown);
        border-radius: 12px;
        box-shadow: 0 0 2px 0 var(--box-shadow-01), 0 1px 4px 0 var(--box-shadow-02);
        overflow: hidden;

        .wizard-card-inner {
            @include flex-col(flex-start);
            padding: 24px;
        }
    }

    .wizard-header {
        @include flex-center(space-between, center);
        cursor: pointer;

        h3 {
            margin: 0;
            font-weight: font-weight(regular);
            color: var(--color-secondary);
            font-size: 17px;
            line-height: 28px;
        }

        button {
            @include flex-center(center, center);
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
        }
    }

    .tabs {
        margin: 16px 0;
    }

    .wizard-checklist {
        margin: 0;
        width: 100%;
        border-radius: 12px;
        border: 1px solid var(--border);

        .checklist-item {
            @include flex-center(center, center);
            padding: 16px 20px;
            height: 60px;
            gap: 12px;

            .item-icon {
                color: var(--color-secondary);
                display: inline-flex;

                svg {
                    height: 16px;
                }
            }

            .item-label {
                flex-grow: 1;
                font-size: font-size(sm);
                font-weight: font-weight(medium);
                color: var(--color-secondary);
            }

            .item-action {
                @include flex-center(center, center);
                height: 24px;
                width: 24px;
                background-color: var(--bg-secondary);
                border-radius: 50%;
                color: var(--color-secondary);

                svg {
                    height: 1em;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--border);
            }

            &:hover {
                text-decoration: none;
                background-color: var(--sidebar-item-active-bg);
                box-shadow: 0px 1px 4px #f4f5f91a;

                .item-action {
                    background-color: var(--icon-active);
                    color: var(--color-white);
                }
            }
        }
    }
}