:root {
  --bg-default: #fff;
  --bg-default-secondary: #fff;
  --color-white: #fff;
  --color-primary: #363644;
  --color-secondary: #1e1e2a;
  --color-tertiary: #70707d;
  --sidebar-bg: #fbfcfd;
  --accent: #465bd1;
  --border: #70739329;
  --sidebar-item-active-bg: #7073930f;
  --sidebar-item-active-text: var(--color-secondary); 
  --badge-bg: #5266eb1a;
  --badge-text: var(--color-primary);
  --bg-secondary:#7073931a;
  --bg-secondary-hover: #70739329;
  --icon-active: #5266eb;
  --placeholder-text: #9d9da8;
  --bg-alphabet:#d3e3d8;
  --color-green:#188554 ;
  --link-text: #5266eb;
  --color-secondary-light: #535461;
  --error-border-color: #d0327538;
  --error-color: #d03275;
  
}